<div class="container">
  <div class="title-container">
    <h1 class="movie-title">Movies 1999</h1>
    <button mat-raised-button color="accent" (click)="addMovie()">+</button>
  </div>
  <div class="cards-container"> 
    <div *ngFor="let movie of movies" class="movie-container">
      <mat-card class="movie-card"> 
        <img [src]="movie.url" alt="{{ movie.name }}" mat-card-image>
        <mat-card-content>
          <p class="movie-title">{{ movie.name }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" (click)="openEditDialog(movie)">Edit</button>
          <button mat-button color="accent" (click)="deleteMovie(movie)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>